*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

:root{
    --bg-color: rgb(209, 140, 94);
    --secound-bg-color: #50230f;
    --text-color: #fff;
    --big-font: 3.2rem;
    --h2-font: 3rem;
    --p-font: 1.4rem;
}
header{
    background: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: solid 1px rgba(255, 255, 255, 0.452);
    width: 100%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15%;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
}
span{
    color: rgb(75, 39, 15);
}

.navlista{
    display: flex;
}

.navlista li{
    position: relative;
}

.navlista a{
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.2rem;
    padding: 10px 20px;
}
.navlista a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #50230f;
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}

.navlista a:hover::after{
    width: 100%;
}

#menu-icone{
    font-size: 1.625rem;
    color: var(--secound-bg-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

section{
    padding: 120px 16%;
}

.home{
    height: 100vh;
    width: 100%;
    background-color: rgb(209, 140, 94);
    position: relative;
    display: flex;
    align-items: center;
}

.home-texto h1{
    font-size: var(--big-font);
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.home-texto p{
    font-size: var(--p-font);
    color: #50230f;
    font-weight: 700;
}

.animacao-home{
    width: 63vh;
    padding-left: 100px;
}

.home .social{
    position: relative;
    margin-top: 30px;
    padding-bottom: 40px;
}

.home .social a{
    display: inline-block;
    color: #50230f;
    margin-right: 25px;
    font-size: 2.188rem;
}
.home .social :hover{
    transform: scale(1.2);
    transition: .4s;
    color: #50230f;
}

.sobre{
    height: 100vh;
    background-color: #aa6547;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2rem;
}

.sobre-img img{
    max-width: 100%;
    width: 350px;
    height: auto;
    border-radius: 10px;
}

.sobre-texto{
    margin-top: 3.8rem;
}

.sobre-texto h2{
    font-size: var(--h2-font);
    color: white;
    font-weight: 700;
    line-height: 1.2rem;
    margin-bottom: 20px;
}

.sobre-texto h5{
    font-size: 1.5rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.sobre-texto p{  
    color: white;
    font-size: var(--p-font);
    font-weight: 700;
    line-height: 1.75rem;
    margin-bottom: 45px;
}

.btn{
    align-items: center;
    display: inline-block;
    background: #50230f;
    color: #fff;
    border: 2px solid transparent;
    font-weight: 600;
    padding: 13px 30px;
    border-radius: 30px;
    transition: ease .35s;
}

.btn:hover{
    transform: translateY(-8px);
    border: 2px solid #50230f;
    background: transparent;
}

.habilidades{
    background-color: #7e4228;
    height: 100vh;
    width: 100%;
}

.habilidades-texto h2{
    text-align: center;
    font-size: var(--h2-font);
    color: #fff;
    margin-bottom: 70px;
    font-weight: 700;
}

.habilidades-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 15px;
}

.container{
    display: grid;
    align-items: center;
    justify-content: center;
}
.container img{
    height: 115px;
    position: relative;
    box-shadow: 5px 5px 10px #50230f;
    border-radius: 20px;
}
.container img:hover{
    transform: scale(1.1);
    transition: .6s;
}

.container h6{
    text-align: center;
    font-size: 1.1rem;
    color: #ffffff;
    margin-top: 10px;
}

.projetos{
    width: 100%;
    height: 100%;
    background-color: #aa6547;
}

.projetos-texto h2{
    font-size:var(--h2-font);
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.container-projetos{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    margin-top: 100px;
}

.card-projetos{
    width: 420px;
    height: 600px;
    background-color: rgb(168, 87, 54);
    box-shadow: rgb(63, 21, 5) 5px 5px 10px;
    border-radius: 20px;
    transition: transform 1s ease 0s;
}
.card-projetos img{
    width: 100%;
    height: 45%;
}
.card-projetos:hover{
    transform: scale(1.04);
}
.card-projetos h3{
    width: 90%;
    margin: 27px auto 17px;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    color: #ffffff;
}
.card-projetos p{
    width: 90%;
    margin: 0px auto;
    font-weight: 700;
    color: #ffffff;
}
.tecnologias{
    padding-top: 15px;
}
.img-projetos{
    width: 100%;
    height: 40%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.links-projetos{
    width: 90%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 10px;
}

.links-projetos a{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}
.links-projetos a:hover{
    transform: scale(1.1);
    transition: all .3s ease;
}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}



.finish-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.finish-text h6{
    color: #fff;
    font-family: 400;
    font-size: 0.9rem;

}

.finish-text i{
   font-size: 1.1rem;
}

.finish-text button{
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    transition: .4s ease;
    color: white;
}

.finish-text button:hover{
    transform: translateY(-2px);
}

.paragrafo-explicacao{
    font-family: 400;
    font-size: 1rem;
    color: #ebac91;
    margin-left: 10px;
}

@media (max-width: 1440px){
    :root{
        --big-font: 2.2rem;
        --h2-font: 2.4rem;
        --p-font: 1.4rem;
    }
    .sobre-img img{
        max-width: 100%;
        width: 400px;
        height: auto;
        border-radius: 15px;
        z-index: 1;
    }
}

@media (max-width: 1024px){
    header{
        padding: 18px 4%;
        transition: .2s;
    }
    header.sticky{
        padding: 10px 4%;
        transition: .2s;
    }
    .home{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }
    :root{
        --big-font: 2.2rem;
        --h2-font: 2.4rem;
        --p-font: 1rem;
    }
    .home-texto{
        text-align: center;
    }
    .logo{
        font-size: 1.8rem;
    }
    .animacao-home{
        padding-left: 50px;
        max-width: 400px;
        width: 100%;
        height: auto;
    }
    .sobre{
        height: auto;
        grid-template-columns: 1fr;
    }
    .sobre-img{
        text-align: center;
    }
    .sobre-img img{
        max-width: 100%;
        width: 400px;
        height: auto;
    }
    .sobre-texto{
        text-align: center;
    }
    
    .sobre-texto h2{
        font-size: var(--h2-font);
        color: white;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    .sobre-texto h5{
        font-size: 1.5rem;
        margin-bottom: 20px;
        letter-spacing: 2px;
    }
    
    .sobre-texto p{  
        color: white;
        font-size: var(--p-font);
        font-weight: 50;
        line-height: 1.75rem;
        margin-bottom: 45px;
    }
}

@media (max-width: 990px){
    .home{
        height: 100vh;
        width: 100%;
    }
    .sobre{
        grid-template-columns: 1fr;
    }
    .sobre-img{
        text-align: center;
        margin-bottom: 30px;
    }
    .sobre-img img{
        max-width: 100%;
        width: 400px;
        height: auto;
    }
}

@media (max-width: 768px){
    #menu-icone{
        display: initial;
    }
    .navlista{
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .30s;
    }
    .navlista a{
        display: block;
        padding: 1.1rem;
        margin: 1.3rem;
        border-left: 2px solid var(--text-color);
    }
    .navlista a:hover{
        background: var(--main-color);
    }
    .navlista a::after{
        display: none;
    }
    .navlista.active {
        top: 100%;
    }
    .sobre-img img{
        max-width: 100%;
        width: 350px;
        height: auto;
    }
    .habilidades-container img{
        margin: 0 auto;
    }
}

@media (max-width: 560px){
    .habilidades-container img{
        height: 6.25rem;
        display: grid;
    }
}
@media (max-width: 452px){
    .home-texto h1{
        font-size: 1.5rem;
    }
}
@media (max-width: 425px){
    .habilidades-texto h2{
        font-size: 2.2rem;
    }
    .animacao-home{
        padding-left: 20px;
        max-width: 400px;
        width: 100%;
        height: auto;
    }
    .sobre-texto{
        margin-top: 2rem;
    }
    
    .sobre-texto h2{
        font-size: var(--h2-font);
        line-height: 1.2rem;
    }
    
    .sobre-texto h5{
        font-size: 1.3rem;
        letter-spacing: 2px;
    }
    
    .sobre-texto p{  
        font-size: var(--p-font);
        line-height: 1rem;
        font-weight: 700
    }
    .habilidades{
        height: 100%;
    }
    .container{
        display: grid; 
    }
    .social{
        text-align: center;
    }
}
@media (max-width: 320px){
    .social{
        margin-left: 20px;
    }
    .card-projetos img{
        height: 35%;
    }
}